<div class="row">
  <div class="col">
    <label for="search"> Search</label>
    <input type="text" [(ngModel)]="searchText" placeholder="Enter name,age,gender to search" class="form-control">
  </div>
</div>

<table border="2">
  <tr>
  <th>slNo</th>
  <th>Name</th>
  <th>Age</th>
  <th>Gender</th>
  </tr>
  <tr *ngFor="let userObj of filterList ; let i=index" appHighlights="lightgrey">
    <td>{{i+1}}</td>
    <td>{{userObj.name}}</td>
    <td>{{userObj.Age}}</td>
    <td>{{userObj.Gender}}</td>
  </tr>
</table>
