<form [formGroup]="passwordMatchingForm">
  <div class="row">
    <div class="col">
      <label for="">Password</label>
      <input type="text" formControlName="password">
<div *ngIf="passwordMatchingForm.get('password')?.touched && passwordMatchingForm.get('password')?.invalid">
<small *ngIf="passwordMatchingForm.get('password')?.errors?.['required']">
Password Is Required
</small>
<small *ngIf="passwordMatchingForm.get('password')?.errors?.['pattern']">
Password Must Follow rules
</small>
</div>
    </div>
    <div class="col">
      <label for="">Confirm Password</label>
      <input type="text" formControlName="confirmPassword">
      <div *ngIf="passwordMatchingForm.get('confirmPassword')?.touched && passwordMatchingForm.get('confirmPassword')?.invalid ">
        <small *ngIf="passwordMatchingForm.get('confirmPassword')?.errors?.['required']">
          confirm Password is required
        </small>
         <small *ngIf="passwordMatchingForm.get('confirmPassword')?.errors?.['passwordMismatch']">
        confirm Password does not match
        </small>
         </div>


    </div>
  </div>
</form>
